<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css' ) }}"
    <title>Employee Management System</title>
</head>

<body>
    {% include "navbar.html" %}

    <h1>Employee Management System</h1>
    
    <br>

    {% block content %}

    {% endblock %}

    <br>

    <footer>
        EMS @ All Right reserved 
        Copyright 2026
    </footer>
</body>

</html>