{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2 class="text-center mb-4">Department Wise Employees</h2>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Email</th>
                <th>Salary</th>
            </tr>
        </thead>

        <tbody>

            {% for emp in employees %}

            <tr>
                <td>{{ emp.name }}</td>
                <td>{{ emp.department }}</td>
                <td>{{ emp.email }}</td>
                <td>₹ {{ emp.salary }}</td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}